  ain {
		max-width:750px;
		margin:0 auto;
	}
  section {
		background:#fff;
		padding:1em;
		border-radius:3px;
		box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
		margin-top:1em;
	}
	body {
		background-color:#f6f6f6;	
	}
  pre.code {
		text-align:left;
		background: #333;
    		color: white;
    		padding: 1em;
    		border-radius: 2px;
		tab-size: 2;
			-moz-tab-size: 2;
			-o-tab-size: 2;
			-webkit-tab-size: 2;
	}
