<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>aboutDavid's Repo</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
    </nav>
    <h1><center>{{ page.title }}</center</h1>
      <style>
      p.subtitle {
        opacity:0.5; 
        margin-bottom:1.7em;
        }
      </style>
     <p class="subtitle"><center>Welcome to my Repo.</center></p>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; 2020, aboutDavid.
    </footer>
  </body>
</html>
